.catalogPage {
  width: 1440px;
  height: 1836px;
  background-color: #fff;
  position: relative;
}
.location {
  position: absolute;
  top: 120px;
  left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}
.location p {
  color: #6c717b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.filtersTitle {
  margin-bottom: 32px;
  color: #475467;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.VehicleEq {
  position: absolute;
  top: 256px;
  left: 64px;
}
.VehicleType {
  position: absolute;
  top: 608px;
  left: 64px;
}
.TrucksCatalog {
  position: absolute;
  top: 120px;
  right: 64px;
}
