.catalogPage {
  width: 1440px;
  height: 1772px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding: 48px 64px 52px 64px;
}
.location {
  top: 120px;
  left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 40px;
}
.location p {
  color: #6c717b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.filtersTitle {
  margin-bottom: 32px;
  color: #475467;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.VehicleEq {
  margin-bottom: 32px;
}
.VehicleType {
}
.TrucksCatalog {
}
