.catalogPage {
  width: 1440px;
  height: 1812px;
  background-color: #fff;
  position: relative;
}
.location {
  position: absolute;
  top: 120px;
  left: 64px;
}
.titleFilters {
  position: absolute;
  top: 248px;
  left: 64px;
  color: #475467;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.VehicleEq {
  position: absolute;
  top: 304px;
  left: 64px;
}
.VehicleType {
  position: absolute;
  top: 608px;
  left: 64px;
}
.TrucksCatalog {
  position: absolute;
  top: 120px;
  right: 64px;
}
