.form {
  display: flex;
  width: 641px;
  height: 588px;
  padding: 44px;
  flex-direction: column;
  justify-content: flex-startlex-start;
  align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid #dadde1;
}
.formTitle {
  display: flex;
  width: 527px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.formText {
  color: #101828;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.formSup {
  color: #6c717b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
}
.formImputes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}

.formName {
  display: flex;
  width: 527px;
  height: 60px;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background-color: #f7f7f7;
}
.formName input {
  border: none;
  outline: none;
  background: none;
}
.formName input::placeholder {
  opacity: 1;
  border: none;
}
.formEmail {
  display: flex;
  width: 527px;
  height: 60px;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background-color: #f7f7f7;
}
.formEmail input {
  border: none;
  outline: none;
  background: none;
}
.formEmail input::placeholder {
  opacity: 1;
  border: none;
}
.formDate {
  display: flex;
  width: 527px;
  height: 60px;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background-color: #f7f7f7;
}
.formDate input {
  border: none;
  outline: none;
  background: none;
}
.formDate input::placeholder {
  opacity: 1;
  border: none;
}
.formComment {
  display: flex;
  width: 527px;
  height: auto;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background-color: #f7f7f7;
}
.formComment textarea {
  border: none;
  outline: none;
  background: none;
}
.formComment textarea::placeholder {
  opacity: 1;
  border: none;
}
.formBtn {
  width: 166px;
  padding: 16px 60px;
  border-radius: 200px;
  background: #e44848;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formBtn:active,
.formBtn:hover {
  background-color: #d84343;
}
.btnText {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
}
.error {
  color: #e44848;
  margin-top: 5px;
  font-size: 0.875em;
  font-weight: bold;
}
